/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div.jogo{
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}

header, footer{
    width: 100vw;
    height: 80px;
    background-color: rgb(138, 167, 192);
}

header h1, footer h4{
    text-align: center;
    line-height: 80px;
}

main{
    position: relative;
    background-color: rgb(255, 255, 255);
    margin: auto;
}

/* TOWERS-WRAPPER */
section.towers_wrapper{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    border-radius: 5px 5px 0px 0px;
    justify-content: space-around;
    width: 90vw;
    height: 35vh;
    background-color: #a10707;
    margin: auto;
}

div.tower{
    display: flex;
    flex-flow: column-reverse nowrap;
    border-radius: 10px 10px 0px 0px;
    align-items: center;
    justify-items: end;
    width: 1.5vw;
    height: 80%;
    background-color: black;
}

div.base{
    width: 90vw;
    height: 1.5vw;
    margin: 0px auto;
    background-color: black;
}

span.disc{
height: 3vh;
text-align: center;
font-size: .2em;
cursor: pointer;
border-radius: 3px;
}

div.painel{
display: flex;
align-items: center;
justify-content: center;
border-radius: 0px 0px 5px 5px;
width: 90vw;
height: 35vh;
margin: 0px auto;
background-color: #003F63;
}

ul.opcoes{
list-style: none;
padding: 2vh;
line-height: 4vh;
color: wheat;
border: 1px solid;
}

ul button{
width: 40%;
height: 4vh;
margin-top: 2vh;
}

li.buttons{
text-align: center;
}
  
/* movimentando item */
.item .moving{
    opacity: 0.5;
}

/* quando e permitido drop na div */
.drop_area.yes{
    background-color: rgb(51, 255, 0);
}

/* quando nao e permitido o drop na div */
.drop_area.noo{
    background-color: rgb(226, 73, 27);
}